<!doctype html>
<html lang="en">
<h1 style="font-size:400%">
	<b>
	<a href="/">Amazon Instant</a>
	</b>
		<input type="text" id="url" placeholder="Search here for amazon products" value="" onkeyup="getProducts()">
		<input type="submit" id="submitURL" onsubmit="getProductsNoCheck()">
	<div id="videoResults">
    </div>
</h1>

</html>

<script>
var lastTypeTime;
function getProducts() {
	var query = document.getElementById('url').value;
	lastTypeTime = new Date();
	var currTime = lastTypeTime;
	setTimeout( function() { 
		if (currTime == lastTypeTime && 
			new Date() - lastTypeTime > 1500) {
			getProductsNoCheck();
		}
	}, 1500);
	if (query[query.length-1] == " ") {
		if (query.replace(/ /g,'') != "") {
			$.ajax({
		      url: '/amazon_query',
		      type: 'POST',
		      cache: true, 
		      data: {query: query}, 
		      success: function(data){
		      	document.getElementById('videoResults').innerHTML=data;
		      }, 
		      error: function(jqXHR, textStatus, err){}
		   })
		}
	}
}

$(document).keypress(function (e) {
    if (e.which == 13 || e.keyCode == 13) {
        getProductsNoCheck();
    }
});

function getProductsNoCheck() {
	console.log('called here!');
	var query = document.getElementById('url').value;
	if (query.replace(/ /g,'') != "") {
		$.ajax({
	      url: '/amazon_query',
	      type: 'POST',
	      cache: true, 
	      data: {query: query}, 
	      success: function(data){
	      	document.getElementById('videoResults').innerHTML=data;
	      }, 
	      error: function(jqXHR, textStatus, err){}
	   })
	}
}
</script>