<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ShareTube</title>
  <link rel="stylesheet"  href="/css/style.css" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/tj/ejs/master/ejs.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="ShareTube" />
  <meta property="og:image" content="http://s23.postimg.org/xjux9bwyj/Screen_Shot_2016_01_12_at_11_14_41_PM.png"/>
  <meta property="og:description" content="Share, watch, and talk about videos with friends as they stream, synced to the second." />
</head>
<body>
  <div class="pages">
    <% include ../partials/logo %>
    <% include ../partials/video_results %>
  </div>
</body>

</html>
<script>
</script>